<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/chat.css">
</head>
<body>
    <h1 id="yourFriend">
    <a href="/"><img class="logo" src="../public/images/catPawImg.png" alt=""></a>Chat With "username": </h1>
    <div id="messageLog">
        <h2>Bob: A message</h2>
        <h2>Joe: Goodbye</h2>
    </div>
    <form action="" id="form" autocomplete="off">
        <input type="search" name="" id="message" placeholder="Enter your message">
    </form>
    <script src="socket.io/socket.io.js"></script>
    <script src="../public/scripts/chat.js"></script>
</body>
</html>