<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/home.css">
</head>
<body>
  <div id="navBar">
    <div class="logo">Chat Cat <img src="/public/images/catPawImg.png" alt=""></div>
    <div class="nav">
        <a href="/contact">Contact</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/register" id="singup">Sign Up</a>
    </div>
  </div>
    <h1 id="talkWithFriends">Chat Cat</br>Talk, Share, Interact</h1>
    <h1 class="question"><a href="/chat">Chat</a> <br/></br>Login to chat with friends</h1>
    <div class="friends">
        <a href="/chat">
        <!-- <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
    </div>
    -->
</a>
    <div></div>
</body>
</html>
