<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/home.css">
</head>
<body>
  <div id="navBar">
    <div class="logo">
         <img src="../public/images/newlogo2.png" alt="">Chat Cat</div>
    <div class="nav">
        <a href="/auth/login" id="Login">Login</a>
        <a href="/auth/register" id="Register">Register</a>
        <!-- <a href="/auth/logout" id="Logout">Logout</a> -->
        <div class="dropDownMenue">
        <div id="Profile">
          <span id="">Account</span>
          <img id="menueImg" src="public/images/hamberger menue img.png">
        </div>
          <div class="dropDownContent">
            <a href="/auth/logout" id="Logout">Logout</a>
            <a href="/profile" id="profileMenue">Profile</a>
          </div>
        </div>
    </div>
  </div>
  <!--<div id="ChatsAndServers">
      <a href="/Chats" id="Chats">Chats</a>
    <div class="Rooms">
    </div>
        <a href="/Rooms" id="Rooms">Rooms</a>
  </div>-->
    <div class="logo">
    <img src="/public/images/newlogo2.png" id="mainImg">
    <br/>
    <a href="/chat" id="publicRoom">Public Room</a>
    <h1 id="talkWithFriends">Talk, Share, Interact</h1>

    <p id="AboutUs">More Info</p>
    </div>
    <ul id="ul">
      <li>Creator: Alex</li>
      <li>Special thanks to: Adrien, Bob, Jeff and last but not least Daniel</li>
      <li>Contact: 123-4567-8901, insert gmail img, insert twitter img, insert discord img here.....</li>
    </ul>
        <!-- <div class="friend">
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
    -->
</a>
    <div>
      <img src="../public/images/PngItem_5297554.png" alt="">
    </div>
    <script type="module" src="../public/scripts/homeES6.js"></script>
</body>
</html>