<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../public/images/newlogo33.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info / Help</title>
    <link rel="stylesheet" href="../public/stylesheets/information.css">
</head>
<body>
 *A happy person using chat cat*
  <a href="/"><img class="logo" src="../public/images/catPawImg.png" alt=""></a>
  <div id="mainText">
    <h1>ChatCat is the 9001'th Best Chapp App In the World!</h1>
    <img src="https://burst.shopifycdn.com/photos/happy-woman-on-computer.jpg?width=925&exif=1&iptc=1" id="happyWomenUsingChatCatImg">
  </div>
</body>
</html>