<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/auth.css">
</head>
<body>
    <div class="container">
        <div class="container2">
    <div class="logo">
        Chat Cat <img src="../public/images/catPawImg.png" alt="">
    </div>
    <h1 class="mainText">Login</h1>
    <form id="theForm">
        <input id="username" type="text" placeholder="username" name="username" class="userInput" autocomplete="off"><br>
        <input id="password" type="password" placeholder="password" name="password" class="userInput" autocomplete="off"><br>
        <input type="submit" value="Login" class="submit" id="submit"/>
    </form>
<p class="message">Create a new account? <a href="/auth/register">Register</a>?</p>
</div>
</div>
<script src="../public/scripts/loginES6.js"></script>
</body>
</html>
