.logo {
    margin: 30px 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 200;
    color: #3d3d3d;;
}
.logo img {
    width: 70px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    float: right;
    margin-left: auto;
}
.nav a{
    margin: 0 12px;
    font-size: 35px;
    color: #252525;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 550;
    text-decoration: none;
}
#singup {
  border: solid 1px grey;
  border-radius: 5px;
  padding: 3px;
}
body {
    background-color: #d3d3d3ff;
    margin: 10px;
}
.message {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 550;
}
.question {
    margin-top: 70px;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 550;
}
.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.friend {
    cursor: pointer;
    margin: 20px 40px;
    background-color: #c5c5c5ff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    font-weight: 500;
    width: 290px;
    height: 100px;
    border-radius: 10px;
}
.friendInside {
    padding: auto auto;
}
.friendInside img{
    padding: auto auto;
    width: 70px;
    height: 70px;
}
#navBar {
  display: flex;
  width: 85vw;
  margin: 0 auto;
}
#talkWithFriends {
  font-size: 75px;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  color: #313131;
}