<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="logo">Chat Cat <img src="/static/cat paw clip art.png" alt=""></div>
    <div class="nav">
        <a href="">Profile</a>
        <a href="">Invites</a>
        <a href="">Add friend</a>
        <a href="/auth/login">Log out</a>
    </div>
    <h1 class="question">chat with?</h1>
    <div class="friends">
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
        <div class="friend">
            <div class="friendInside">
                1234567890 <img src="https://appamatix.com/wp-content/uploads/2016/05/Anonymous-FeatPic-1200x900.jpg" alt="">
            </div>
        </div>
    </div>
    <div></div>
</body>
</html>
